body {margin:0;
  background-image: url('/../resources/food.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;}

div.topmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #89ABE3FF;
  position: fixed;
  top: 0;
  width: 100%;
}

div.topmenu li {
  float: left;
}

div.topmenu li:hover
{
    background-color: #111;
}

div.topmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



div.topmenu li a:hover:not(.active) {
 	
}

div.topmenu li.probna a {
  display: block;
  color: white;
  text-align: center;
 
  text-decoration: none;
}

div.topmenu li.probna a:hover:not(.active) {
  color: white;
}

div.topmenu li.probna:hover {
	 background:url('../resources/sc1Black.png');
	 background-color: #111;
	
	 background-repeat: no-repeat;
	background-position: 50% 50%;
     
}

div.topmenu li.probna .active {
	 background:url('../resources/sc1Green.png');
	 background-color: #04AA6D;
	
	 background-repeat: no-repeat;
	background-position: 50% 50%;
     height:18px;
    width:58px;
}

div.topmenu li.probna{

float: left;
    background-color: #89ABE3FF;
    height:46px;
    width:90px;
}

.probna{
	background:url('../resources/sc1.png');
	 background-repeat: no-repeat;
	 
     background-position: 50% 50%;
}
div.topmenu .active {
  background-color: #04AA6D;
}

.txtimg{
    display: inline-block;
    text-align: center;
}
.txtimg > img{
    display: block;
}